!!!
%html{:lang => "bg"}

  %head{:prefix => "og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : "Offside24.net - Футболен сайт от фенове, за фенове"
    %meta{name: "description", content: "#{content_for?(:description) ? yield(:description) : 'Offside24.net'}"}
    %script{:async => "", "data-ad-client" => "ca-pub-3883939676510150", :src => "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
    = yield :head
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render 'layouts/tag_manager_head'
    = render 'layouts/fonts'
    = render 'layouts/pinterest'
    = render 'layouts/ga_async'
  %body
    = render 'layouts/tag_manager_body'
    = render 'layouts/nav_bar'
    .space30
    = render 'layouts/messages'
    = render 'layouts/fb_comments'
    .banners-top
      -# = render 'layouts/mainbanner' if current_page?(root_path)
    .container
    
    = yield
    = render 'layouts/footer'
